.pedestal-image {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  object-fit: contain;
  width: 100%;
}

.pedestal-image > .arco-image-img {
  height: 100%;
  object-fit: inherit;
  width: 100%;
}

.image-editor-upload {
  align-items: center;
  color: var(--color-text-2);
  display: flex;
}
