.op-nav-label {
  color: var(--color-text-2);
  font-size: 12px;
  margin-bottom: 2px;
  white-space: normal;
}

.op-nav-body {
  margin-bottom: 7px;
  margin-left: -2px;

  .arco-link {
    font-size: 12px;
    vertical-align: middle;
  }
}

.op-nav-body-multi {
  margin-bottom: 0;
}
